<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Girish Krishnan | Home</a></li>
		        	<li><a href="/research">Research</a></li>
	        		<li><a href="/teaching">Teaching</a></li>
	        		<li><a href="/projects">Projects</a></li>
             
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:gikrishnan@ucsd.edu">Email: gikrishnan@ucsd.edu</a></li>
	        		<li><a href="https://github.com/Girish-Krishnan/">github.com/Girish-Krishnan</a></li>
				</ul>
			</footer>
		</body>
	</html>
